@font-face {
    font-family: 'ratio_boldbold';
    src: url('../fonts/ratio_bold-webfont.woff2') format('woff2'),
         url('../fonts/ratio_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ratio_heavyheavy';
    src: url('../fonts/ratio_heavy-webfont.woff2') format('woff2'),
         url('../fonts/ratio_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ratio_lightlight';
    src: url('../fonts/ratio_light-webfont.woff2') format('woff2'),
         url('../fonts/ratio_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ratiomedium';
    src: url('../fonts/ratio_medium-webfont.woff2') format('woff2'),
         url('../fonts/ratio_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ratio_regularregular';
    src: url('../fonts/ratio_regular-webfont.woff2') format('woff2'),
         url('../fonts/ratio_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}